{% extends 'app/base.html' %}

{% load static %}

{% block js %}

{% endblock %}

{% block css %}

{% endblock %}

{% block contenido %}
<div id="contenido">
    <h2>Contactanos!</h2>
    <form action="" class="formulario_contacto" method="post">
        
        {% csrf_token %} 

        {{ form }}

        <br>
        <button type="submit" id="btnEnviar" class="button">Enviar</button>
        
    </form>
    {{ mensaje }}

    <table id="tablacontactos">
    </table>

    <!--
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre">
        <br>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="tu@email.cl">
        <br>
        <label for="telefono">Telefono</label>
        <input type="number" name="telefono" id="telefono">
        <br>
        <label for="tipoconsulta">Tipo consulta</label>
        <select name="tipoconsulta" id="tipoconsulta">
            <option value="">seleccionar</option>
            <option value="consulta">consulta</option>
            <option value="reclamo">reclamo</option>
            <option value="sugerencia">sugerencia</option>
            <option value="felicitaciones">felicitaciones</option>
        </select>
        <br>
        <label for="mensaje">Mensaje</label>
        <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
        <br>
        <input type="checkbox" name="avisos" id="avisos" checked>
        <label for="avisos">¿Desea recibir promociones/avisos a su email?</label>
        >-->


</div>
        
{% endblock %}