{% extends 'app/base.html' %}


{% block contenido %}
<div class="container">
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
    <div class="card">
        <div class="card-header">
        <h4>Registro de usuario</h4>
        </div>
        <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
            {{ form.email }}
            </div>
            <button type="submit" class="btn btn-primary">Crear cuenta</button>
        </form>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}